@use '@styles/master';

.footer {
   position: absolute;
   right: 40px;
   bottom: 30px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   font-family: 'Kreon', serif;

   a {
      white-space: nowrap;
      color: #{master.$secondary};

      padding: 5px;
      border-radius: 6px;
      background-color: #{master.$background};
      transition: box-shadow 0.2s;

      &:hover {
         text-decoration: underline;
      }

      &:focus-visible {
         box-shadow: 0px 0px 0px 2px #{master.$background}, 0px 0px 0px 4px #{master.$accent};
      }
   }
}
